.datasets-list-head {
  box-shadow:0 -1px 0 rgba(0,0,0,0.12) inset;

  .group-list-head {
    padding:0.25rem 0;

    .col:not(.col-icon):not(.col-search) {
      padding:0.25em calc(1px + 1em);

      span {
        font-weight:900;
        font-size:0.8rem;
        text-transform:uppercase;
      }
    }
  }
}

.setsContainer {
  position:relative;
  background-color:#fff;
}