.datagroup-menu {
  display:inline;

  .datagroup-menu-icon {
    width:1rem;
    cursor:pointer;
    text-align:center;
    margin-right:-0.25rem;
  }

  ul {
    display:none;
    position:absolute;
    list-style:none;
    left:0;
    z-index:2;
    background-color:#fff;
    color:#000;
    box-shadow:1px 1px 5px 0 rgba(0,0,0,0.3);
    margin-top:0.25rem;
    padding:0.5rem;

    li {
      border-bottom:1px solid #eee;
      padding:0.5rem 0;

      &:last-of-type {
        border-bottom:0;
      }
    }

    a {
      display:block;
      width:100%;
      white-space:nowrap;
      cursor:pointer;
    }
  }

  &.open ul {
      display:block;
  }
}