<div id="login" [class.error]="error === true">
  <h2>Login</h2>
  <div class="row">
    <div class="col">
      <label for="email" class="col">E-Mail</label>
      <input [(ngModel)]="email" type="email" id="email" (input)="onInput()" (keydown)="onKeyDown($event)">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="password" class="col">Password</label>
      <input type="password" id="password"
        (input)="onInput()"
        (keydown)="onKeyDown($event)"
        [(ngModel)]="password">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="login()" class="button">Login</button>
    </div>
  </div>
</div>