.dataset {
  background-color:#fff;
  padding-top:0.25rem;
  padding-bottom:0.25rem;

  &.invisible {
    display:none;
  }

  // &.selected {
  //   background-color:#f5f5f5;
  // }

  &:nth-of-type(2n+1) {
    background-color:#fdfdfd;
  }

  input, select, button {
    width:100%;
  }

  &.inactive .col:not(:first-of-type) {
    opacity:0.5!important;
  }

  .col-icon {
    display:flex;
    align-self:stretch;
    align-items:center;
    justify-content:center;
  }
}
