<div class="modal-window"
  [class.visible]="isVisible === true">
  <div class="inner">
    <div class="content">
      <div class="row">
        <div class="col">
          <h2>Headline</h2>
        </div>
        <div class="col text-right">
          <button class="button blank" (click)="hide()">&#x2716;</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat possimus cumque ab libero culpa voluptate et, hic aspernatur dolor inventore alias reiciendis, vel excepturi, sed eligendi a voluptas, nobis quasi!
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          <button class="button blank" (click)="hide()">Cancel</button>
        </div>
        <div class="col shrink">
          <button class="button">Do something</button>
        </div>
      </div>
    </div>
  </div>
</div>