//@import './theme.scss';

$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #CDDC39;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

* {
    box-sizing:border-box;
}

body {
    padding:4em 3%;
    font-size:16px;
    font-family:Roboto,"Helvetica Neue",sans-serif;
    background-color:$primary-color-light;
    color:$primary-text-color;
}

.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}

.sticky {
    position:fixed;
    top:0;
    left:0;
    z-index:9;
}

button,
select,
textarea,
input:not([type]),
input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=url],
input[type=date] {
    padding:0.6em 0.75em 0.4em;
    outline:0;
    border:1px solid #d6d6d6;
    background-color:#fff;
    color:$primary-text-color;
    box-sizing:border-box;
    border-radius:3px;
    font-size:1rem;
}

button {
    background-color:$accent-color;
    color:$primary-color-dark;
    cursor:pointer;
}

button:focus,
button:hover {
    opacity:0.9;
}

button:focus,
select:focus,
input:not([type]):focus,
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=date]:focus {
    border-color:#c9c9c9;
    background-color:#fff;
    //color:#333;
}

button[disabled],
select[disabled],
input:not([type])[disabled],
input[type=text][disabled],
input[type=number][disabled],
input[type=email][disabled],
input[type=password][disabled],
input[type=url][disabled],
input[type=date][disabled] {
    color:#888;
    background-color:#f6f6f6;
}

input.negative {
    color:#bf1111;
}

input.positive {
    color:#2ca024;
}

input.negative[disabled] {
    color:#ff8989;
}

input.positive[disabled] {
    color:#72cc6c;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.row {
    width:100%;
    display:flex;
    align-items:center;

    .col {
        padding:0.25em;
        width:100%;
    }

    &.collapse > .col {
        padding:0;
    }
}
