@import 'settings';

* {
  box-sizing:border-box;
}

body {
  padding:4rem 2.5rem;
  font-size:16px;
  font-family:Roboto,"Helvetica Neue",sans-serif;
  background-color:#ECEFF1;
  color:#000;
}

.clearfix:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}

.sticky {
  position:fixed;
  top:0;
  left:0;
  z-index:9;
}

.text-left {
  text-align:left;
}

.text-center {
  text-align:center;
}

.text-right {
  text-align:right;
}

.button,
select,
textarea,
input:not([type]),
input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=url],
input[type=date] {
  padding:0.6em 0.75em 0.4em;
  outline:0;
  border:1px solid #d6d6d6;
  background-color:#fff;
  color:#000;
  box-sizing:border-box;
  border-radius:$global-radius;
  outline: none;
}

.ngx-datepicker-calendar-container {
  z-index:1;
}

input.ngx-datepicker-input {
  padding:0.6em 0.75em 0.4em !important;
  font-size: 1rem !important;
  width: 100% !important;
  border: 1px solid #d6d6d6 !important;
}

select,
textarea,
input:not([type]),
input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=url],
input[type=date] {
  width:100%;
}

textarea {
  resize:vertical;
}

.button {
  cursor:pointer;
  border:0;
  transition:all 300ms ease-in-out;

  &:not(.blank) {
    background-color:#039BE5;
    color:#fff;
  }

  &:focus,
  &:hover {
    background-color:darken(#039BE5, 5%);
  }

  &.blank {
    background-color:#fff;
    color:#000;

    &:focus,
    &:hover {
      background-color:darken(#fff, 5%);
    }
  }

  &.dark {
    background-color:#000;
    color:#fff;
  }

  &.circle {
    border-radius:100px;
    padding:0;
  }
}

select[disabled],
input:not([type])[disabled],
input[type=text][disabled],
input[type=number][disabled],
input[type=email][disabled],
input[type=password][disabled],
input[type=url][disabled],
input[type=date][disabled] {
  background-color:transparent;
  border-color:transparent;
}

input.negative {
  color:#bf1111;
}

input.positive {
  color:#2ca024;
}

input.negative[disabled] {
  color:#ff8989;
}

input.positive[disabled] {
  color:#72cc6c;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin:0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.container {
  max-width:100rem;
  margin:auto;
}

.row {
  width:100%;
  display:flex;
  align-items:center;

  .col {
    position:relative;
    padding:0.25em;
    flex:1;

    &.shrink {
      flex:0;
    }
  }

  &.collapse > .col {
    padding:0;
  }

  &.align-right {
    justify-content:flex-end;
  }
}

.col {
  i {
    vertical-align:middle;
    transition:opacity 150ms ease-in-out;

    &:hover {
      cursor:pointer;
      opacity:0.5;
    }
  }

  &.align-top {
    align-self:flex-start;
  }

  &.col-icon,
  &.col-id {
    max-width:25px;
    text-align:center;
  }

  &.col-icon i {
    margin-top:-0.2em;
  }

  &.col-date {
    max-width:125px;
  }

  &.col-val {
    max-width:110px;
  }

  &.col-val input {
    text-align:right;
  }

  &.col-bttn-small {
    max-width:40px;
  }
}