@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-gray-200 text-gray-600;
}

@layer components {
  .button {
    @apply
      transition
      duration-300
      font-bold
      text-center
      outline-0
      text-white
      bg-emerald-500
      px-3
      py-2
      hover:bg-emerald-600
      rounded;

    &.alert {
      @apply
        bg-red-500
        hover:bg-red-600;
    }

    &:not(.hollow) {
      &[disabled] {
        @apply
          text-gray-500
          bg-gray-300
          hover:bg-gray-300
          cursor-default;
      }
    }

    &.hollow {
      @apply
        border
        border-emerald-500
        text-emerald-500
        bg-transparent
        hover:bg-transparent
        hover:border-emerald-600
        hover:text-emerald-600;

      &.alert {
        @apply
          border-red-500
          hover:border-red-600
          text-red-500
          hover:text-red-600;
      }
    }

    &.clear {
      @apply
        border-0
        text-emerald-500
        bg-transparent
        hover:bg-transparent
        hover:border-transparent
        hover:text-emerald-600;

        &.alert {
          @apply
            text-red-500
            hover:text-red-600;
        }
    }

    &.large {
      @apply text-lg;
    }
  }
}

.icon-button {
  @apply
    transition
    duration-300
    text-emerald-500
    hover:text-emerald-600
    bg-transparent
    hover:bg-transparent;

  &.alert {
    @apply
      transition
      duration-300
      text-red-500
      hover:text-red-600
      bg-transparent
      hover:bg-transparent;
  }
}

input {
  &[type="text"],
  &[type="number"] {
    @apply
      transition
      duration-300
      bg-white
      w-full
      py-2
      px-3
      outline-none
      border
      rounded
      border-gray-300
      leading-none
      hover:border-gray-400
      focus:border-gray-400;
  }
}

select {
  @apply
    transition
    duration-300
    bg-white
    w-full
    py-2
    px-2
    outline-none
    border
    rounded
    border-gray-300
    leading-none
    hover:border-gray-400
    focus:border-gray-400;
}

option {
  @apply rounded-none;
}

label {
  @apply block;
}

p {
  @apply mb-3;
}

a {
  @apply
    cursor-pointer
    transition
    duration-300
    text-emerald-500
    hover:text-emerald-600;
}

.container {
  @apply max-w-full m-auto;
}

// Datepicker
input.dp__input {
  @apply
  transition
  duration-300
  bg-white
  w-full
  py-2
  pr-2
  outline-none
  border
  rounded
  border-gray-300
  leading-none
  focus:border-gray-400;
}

// Modal Window
.modal-head {
  @apply text-2xl mb-6;
}

// Datepicker
.dp__theme_light {
  --dp-background-color: #ffffff;
  --dp-text-color: #212121;
  --dp-hover-color: #f3f3f3;
  --dp-hover-text-color: #212121;
  --dp-hover-icon-color: #959595;
  --dp-primary-color: rgb(16 185 129); // todo: configure tailwind colors!
  --dp-primary-text-color: #f8f5f5;
  --dp-secondary-color: #c0c4cc;
  --dp-border-color: #ddd;
  --dp-menu-border-color: #ddd;
  --dp-border-color-hover: #aaaeb7;
  --dp-disabled-color: #f6f6f6;
  --dp-scroll-bar-background: #f3f3f3;
  --dp-scroll-bar-color: #959595;
  --dp-success-color: #76d275;
  --dp-success-color-disabled: #a3d9b1;
  --dp-icon-color: #959595;
  --dp-danger-color: #ff6f60;
}