@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply transition duration-300 font-bold text-white bg-emerald-500 px-3 py-2 hover:bg-emerald-600;

  &.alert {
    @apply transition duration-300 bg-red-500 hover:bg-red-600;
  }

  &.hollow {
    @apply transition duration-300 border border-emerald-500 text-emerald-500 bg-transparent hover:bg-transparent hover:border-emerald-600 hover:text-emerald-600;
  }

  &.large {
    @apply text-lg;
  }
}

input {
  &[type="text"],
  &[type="number"] {
    @apply
      transition
      duration-300
      bg-white
      w-full
      py-2
      px-3
      outline-none
      border
      border-gray-300
      leading-none
      hover:border-gray-400
      focus:border-gray-400;
  }
}

select {
  @apply
    transition
    duration-300
    bg-white
    w-full
    py-2
    px-2
    outline-none
    border
    border-gray-300
    leading-none
    hover:border-gray-400
    focus:border-gray-400;
}

option {
  @apply rounded-none;
}

label {
  @apply block;
}

.container {
  @apply max-w-full m-auto;
}

// Datepicker
input.dp__input {
  @apply
  transition
  duration-300
  bg-white
  w-full
  py-2
  pr-2
  outline-none
  border
  border-gray-300
  rounded-none
  leading-none
  focus:border-gray-400;
}

// Modal Window
.modal-head {
  @apply text-xl mb-6;
}