@import '../../../../../scss/settings';

.datagroup-menu {
  display:inline;

  .datagroup-menu-icon {
    width:1rem;
    cursor:pointer;
    text-align:center;
    margin-right:-0.25rem;
  }

  ul {
    display:none;
    position:absolute;
    list-style:none;
    left:5px;
    z-index:2;
    background-color:#fff;
    color:#000;
    box-shadow: $global-box-shadow;
    padding:0;
    margin-top:0.25rem;
    min-width:175px;

    li {
      border-bottom:1px solid #eee;

      &:last-of-type {
        border-bottom:0;
      }
    }

    button {
      background:transparent;
      border:0;
      text-align:left;
      color:#000;
      display:block;
      width:100%;
      white-space:nowrap;
      cursor:pointer;
      padding:0.5rem 0.75rem;

      &:disabled {
        color:#ccc;
        cursor:default;
      }

      &:not([disabled]):hover {
        background-color:#f5f5f5;
      }
    }
  }

  &.open ul {
      display:block;
  }
}